archive/XML_Microsoft/Xml/sl.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:x="urn:book"
            targetNamespace="urn:book"
            elementFormDefault="qualified">
<!--  *** Add the following if attributes 
          are to be namespace prefixed ***
            attributeFormDefault="qualified">
-->  
  <xsd:element name="book">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="author" type="xsd:string"/>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element name="genre" type="xsd:string"/>
      <xsd:element name="price" type="xsd:float"/>
      <xsd:element name="publish_date" type="xsd:date"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  </xsd:element>
</xsd:schema>
